body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background-color: #66CCFF;
}

header {
    background-color: #0099CC;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
}

.center-pic {
    margin-top: 30px;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0099CC;
}

p {
    text-align: center;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
}

h1, h4 {
    text-align: center;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icons-container p {
    font-weight: bold;
}










.nav-pic {
    border-radius: 50%;
}





a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
}



.second-nav {
    font-size: 11px;
}


nav a:hover {
    background-color: ;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #003399;
    top: 0;
    transition: all ease-in-out 350ms;
}

nav a:hover::before {
    width: 100%;
}











.icon-list {
    margin-bottom: 20px;
}

.center-pic {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.caption {
    text-align: center;
    font-size: 10px;
}





 nav li {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #003399;
    display: inline-block;
    position: relative;
}





nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

aside ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    font-size: 18px;
    color: #003399;
}

nav a:visited {
    color: #CCFFCC;
}

.project-pic, .blog-pic {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption p {
    margin: 2px auto;
}