/* Style the font type and background colour; 0 margin to prevent any whitespace between browser and body. */

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    background-color: #66CCFF;
}

/* Style navigation bar with a different background colour. */

header {
    background-color: #0099CC;
}

/* Eliminate the underline of all a tags; change the display property to inline-block; give the a tags a bigger padding. */

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
}

/* Center the navbar and give the div a width of 100%. */

.nav-container {
    width: 100%;
    margin: 0 auto;
}

/* Center the homepage image; give the image a fixed size and a round border. */

#profile-pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

/* Fix and center the footer div to the bottom of the page; different background colour and 100% width. */

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0099CC;
    color: white;
}

/* Smaller font size for content of the footer and a bold font-weight. */

.footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}

/* Center the headers and paragraphs to align with the other elements. */

h1, h4, p {
    text-align: center;
}

/* Bigger font size for main header to caption website users' attention. */

h1 {
    font-size: 20px;
}

/* Bigger font size for all paragraphs for better readability. */

p {
    font-size: 18px;
}

/* Flexbox (wrap) to render icons properly on different screen sizes. */

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Bold image caption. */

.icons-container p {
    font-weight: bold;
}

/* Hover effects for all hyperlinks. */

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color:white;
    top: 0;
    transition: all ease-in-out 350ms;
}

nav a:hover::before {
    width: 100%;
}

/* Styles for navbar to emphasise the important of this component. */

 nav li {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

/* Center the navbar. */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* Styles for the attribute section for authors of icons, use Flexbox to display and center the links. */

aside ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Bigger font for hyperlinks in the navigation menu and a different text colour. */

nav a {
    font-size: 22px;
    color: #003399;
}

/* A lighter colour to show that a link has been clicked/visited. */

nav a:visited {
    color: #CCFFCC;
}

/* Center all images to align with the common theme of the website. */

.project-pic, .blog-pic {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the image caption to be closer to the image and centered. */

figcaption p {
    margin: 2px auto;
}

/* CSS built-in effect, a link will move downward by ten pixels when hovered to. */

a:hover {
    transform: translate(0, 10px);
}